{{define "content"}}
<main class="grid-container">
    <section class="grid-60">
        <h2>What is it?</h2>
        <p>mcassoc is a free service that allows you to add Minecraft account association to your site or forums. By
           using skins to verify association, users don't need to provide account details to 3rd-party sites and once
           they've signed up once they simply need to enter their separate mcassoc credentials if they wish to associate
           on a future site.</p>
    </section>

    <section class="grid-40">
        <h2>Client libraries</h2>
        <p>Sample code for interfacing with the mcassoc service is available in the following languages:</p>
        <ul>
            <li><a href="https://github.com/lukegb/mcassoc.php">PHP</a></li>
            <li><a href="https://github.com/lukegb/mcassoc.py">Python</a></li>
        </ul>
    </section>
    <div class="clear"></div>
    <section class="grid-60">
        <h2>Features</h2>
        <ul>
            <li>Skin-based account verification</li>
            <li>Provides the account UUID you can use for storing associations</li>
            <li>Customizable text and background colours</li>
            <li>Easy to use with provided libraries</li>
        </ul>
        <h2 id="screenshots">Screenshots</h2>
        <ul class="slider">
            <li><img src="/img/mca1.png">
                <div class="slider-content">
                    <label>Custom theme, initial step</label>
                </div>  </li>
            <li>
                <img src="/img/mca2.png">
                <div class="slider-content">
                    <label>Default theme, final step</label>
                </div>
            </li>
        </ul>
    </section>
    <section class="grid-40">
        <h2>Sign up</h2>
        {{if .HasError}}
            <p><strong>Error:</strong> Please provide a valid domain.</p>
            <hr>
            <p>To get your shared key, fill in the form below. You'll need to prove you own the domain in question.</p>

            <form action="/signup" method="POST">
                <input type="text" class="error" placeholder="Domain name" id="domain" name="domain"><button type="submit" id="signupSubmit">Sign up</button>
            </form>
        {{else}}
            <p>To get your shared key, fill in the form below. You'll need to prove you own the domain in question.</p>

            <form action="/signup" method="POST">
                <input type="text" placeholder="Domain name" id="domain" name="domain"><button type="submit" id="signupSubmit">Sign up</button>
            </form>
        {{end}}


    </section>
</main>
{{end}}

{{define "scripts"}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.js"></script>
<script>
  $(function() {
    $(".slider").responsiveSlides({auto: true, speed: 600, timeout: 5000});
  });
</script>
{{end}}